<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Yönetim Paneli
                        <span class="user-level">@User.Identity.Name</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a asp-controller="Register" asp-action="Index">
                                <span class="link-collapse">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Setting" asp-action="Index">
                                <span class="link-collapse">Ayarlar</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Setting" asp-action="Index">
                                <span class="link-collapse">Çıkış Yap</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a asp-controller="Default" asp-action="Index">
                    <i class="la la-motorcycle"></i>
                    <p>Siteye Git</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Menu" asp-action="Index">
                    <i class="la la-medium"></i>
                    <p>Menüyü Gör</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="ProgressBars" asp-action="Index">
                    <i class="la la-bar-chart"></i>
                    <p>Anlık Durum Çubuğu</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Statistic" asp-action="Index">
                    <i class="la la-pie-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Category" asp-action="Index">
                    <i class="la la-keyboard-o"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Product" asp-action="Index">
                    <i class="la la-birthday-cake"></i>
                    <p>Ürünler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="MenuTable" asp-action="Index">
                    <i class="la la-th"></i>
                    <p>Masalar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="MenuTable" asp-action="TableListByStatus">
                    <i class="la la-ship"></i>
                    <p>Masa Durumları</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Booking" asp-action="Index">
                    <i class="la la-bell"></i>
                    <p>Rezervasyonlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="About" asp-action="Index">
                    <i class="la la-font"></i>
                    <p>Hakkımızda</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="AMessage" asp-action="Index">
                    <i class="la la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat"></i>
                    <p>Mesajlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Discount" asp-action="Index">
                    <i class="la la-money"></i>
                    <p>İndirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Contact" asp-action="Index">
                    <i class="la la-phone-square"></i>
                    <p>İletişim</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Feature" asp-action="Index">
                    <i class="la la-gamepad"></i>
                    <p>Öne Çıkanlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Testimonial" asp-action="Index">
                    <i class="la la-group"></i>
                    <p>Referanslar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="SocialMedia" asp-action="Index">
                    <i class="la la-map-marker"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Notification" asp-action="Index">
                    <i class="la la-umbrella"></i>
                    <p>Bildirimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Mail" asp-action="Index">
                    <i class="la la-anchor"></i>
                    <p>Mail İşlemleri</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="QRCode" asp-action="CreateQrCode">
                    <i class="la la-qrcode"></i>
                    <p>QR Kod Oluştur</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Setting" asp-action="Index">
                    <i class="la la-chain"></i>
                    <p>Ayarlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="LogOut">
                    <i class="la la-plane"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Login" asp-action="LogOut">
                    <i class="la la-expeditedssl"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>