
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@model UpdateContactDto

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim Bilgisi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">İletişim Yazısı Güncelleme İşlemi</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="ContactID" />
                            <div class="form-group">
                                <label for="location">Lokasyonu Giriniz</label>
                                <input asp-for="Location" type="text" class="form-control" id="location">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon Numarası Giriniz</label>
                                <input asp-for="Phone" type="text" class="form-control" id="phone">
                            </div>
                            <div class="form-group">
                                <label for="mail">Mail Adresi Giriniz</label>
                                <input asp-for="Mail" type="email" class="form-control" id="mail">
                            </div>
                            <div class="form-group">
                                <label for="title">Alt Başlık Giriniz</label>
                                <input asp-for="FooterTitle" type="text" class="form-control" id="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Alt Açıklama Giriniz</label>
                                <textarea asp-for="FooterDescription" class="form-control" rows="5" id="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="opendays">Açık Günler</label>
                                <input asp-for="OpenDays" type="text" class="form-control" id="opendays">
                            </div>
                            <div class="form-group">
                                <label for="opendaysdescription">Açık Günler Açıklama</label>
                                <input asp-for="OpenDaysDescription" type="text" class="form-control" id="opendaysdescription">
                            </div>
                            <div class="form-group">
                                <label for="openhours">Açık Saatler</label>
                                <input asp-for="OpenHours" type="text" class="form-control" id="openhours">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">İletişim Bilgi Yazısını Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
